body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #453A49;
}

.container {
    background-color: #6D3B47;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; */
}

a {
    color: black;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

