body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #453A49;
}

.container {
    background-color: #6D3B47;
    border-radius: 10px;
    margin: auto;
    padding: 1em;
    width: 70%;
}

a {
    color: black;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 100px;
}

